html body {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

#look {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 30%;
    font-size: 30px;
}

#back {
    position: absolute;
    left: 10%;
    right: 0;
    margin: 0 auto;
    text-align: left;
    top: 10%;
    font-size: 20px;
    text-decoration: none;
    color: blue;
}